# Essential Functionality

Going throught the fundamentals of interacting with data

In [38]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

___
## Reindexing

means to create a new object but conforming to a new index

In [39]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [40]:
obj2 = obj.reindex(['a', 'b', 'c', 'd','e']) # will show missing values if a new index doesn't have a value
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [41]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

*method* allows you to fill in missing values

In [42]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

*reindex* can also alter the row (index), columns, or both. If you are passing one sequece, it will reindex the rows. If you pass two sequences, it will reindex the columns.

In [43]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])

frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [44]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [45]:
states = ['Texas', 'Utah', 'California']

frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

### reindex function arguments

* **index:** New sequence to use as index. Can be Index instance or any other sequence-like Python data structure. An
Index will be used exactly as is without any copying.
* **method:** Interpolation (fill) method; 'ffill' fills forward, while 'bfill' fills backward.
* **fill_value:** Substitute value to use when introducing missing data by reindexing.
* **limit:** When forward- or backfilling, maximum size gap (in number of elements) to fill.
* **tolerance:** When forward- or backfilling, maximum size gap (in absolute numeric distance) to fill for inexact matches.
* **level:** Match simple Index on level of MultiIndex; otherwise select subset of.
* **copy:** If True, always copy underlying data even if new indez is equivalent to old index; if False, do not copy
the data when the indexes are equivalent

___
## Dropping Entries from an Axis