# Series

In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

## Introduction to pandas Data Structures
### Series
A Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its index.

In [3]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

Index is on the left and values are on the right. We did not specify the index so we were given a default one (0 -> 1-N)

You can get the array representaion of the index and values respectively

In [4]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

It is best to create a Series with an index identifying each data point

In [6]:
obj2 = pd.Series([4, 7, -5, 3], index=['d','b','a','c'])

In [7]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

You can use labels in the index when selecting single values or multiple

In [9]:
obj2['a']

-5

In [10]:
obj2[['c','a','d']]

c    3
a   -5
d    4
dtype: int64

Applying functions or operations to the dataset will preserve the index value

In [11]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [12]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [13]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

Another way to think about a Series is as a fixed-length, ordered dict, as it is a map‐ping of index values to data  values. It can be used in many contexts where you might use a dict:

In [14]:
'b' in obj2

True

In [15]:
'e' in obj2

False

If you have a dict, you can pass it in a Series

In [16]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [17]:
obj3 = pd.Series(sdata)

In [18]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

When you are only passing a dict, the index in the resulting Series will have the dict’s keys in sorted order. You can override this by passing the dict keys in the order you want them to appear in the resulting Series:

In [19]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

obj4 = pd.Series(sdata, index=states)

In [20]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Since no value for Califronia was found in the original dict, it will be automatically added with a NaN value

In [21]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [22]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [23]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

series features automatically align by index label in the operations

In [24]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [25]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [26]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [27]:
obj.name = 'population'

In [28]:
obj4.index.name = 'state'

In [29]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

A Series’s index can be altered in-place by assignment:

In [30]:
obj

0    4
1    7
2   -5
3    3
Name: population, dtype: int64

In [31]:
obj.index = ('Bob', 'Steve', 'Jeff', 'Ryan')

In [32]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
Name: population, dtype: int64