# Summarizing and Computing Descriptive Statistics

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
# example of a dataframe with null values

df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])

df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [4]:
# sum() returns the sum between the two columns

df.sum()

one    9.25
two   -5.80
dtype: float64

In [5]:
# passing axis=1 returns the sum of the columns

df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [6]:
# null values are excluded from the calculation. this can be disabled by setting skipna=False

df.mean(axis=1, skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64